body{
  background-color: gray;
}

header{
  background: #fcfc47;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #fac575 3px solid;
}

ul{
  margin: 0;
  padding: 0;
  font-size: 30px;
}


a{
  text-decoration: none;
  color: black;
}

h2{
  background: #ffdc82;
  padding: 0.25px 0.25px 0.25px 0.25px;
  font-size: 30px;
  margin-left: 0%;
}



p{
  background: #ffdc82;
  color: #ffdc82;
}


.col-1-5{
  width: 20%;
  float: left;
  background: #ffdc82;
}

.col-1-5 img{
  width: 70%;
  height: 40%;
  padding-bottom: 10%;
}

.col-1-5 img:hover{
  opacity: 0.5;
}

.col-6-10{
  width: 20%;
  float: left;
  background: #ffdc82;
}
.col-6-10 img{
  width: 70%;
  height: 40%;
  padding-top: 10%;
}
.col-6-10 img:hover{
  opacity: 0.5;
}

header li{
  float: left;
  display: inline;
  padding: 10px 20px 10px 20px;
  margin-top: 50px;
  margin-right: 30px;

  border: black 1px solid;
  background-color: #ffdc82;
}

header li:hover{
  background-color: #9c9c5d;
  border: black 1.5px solid;
}

header .logo{
  width: 200px;
  height: auto;
  margin-top: -40px;
  padding-left: 20px;
}

header .current a{
  color: #b38307;
  font-weight: bold;
}

header nav{
  float: right;
  margin-top: 10px;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left:0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  background-color: #FFFFE0;
  margin: 10% auto;
  padding: 20px;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name: modalOpen;
  animation-duration: 0.75s;
}

.modal-content p{
  background: #f4f4f4;
  color: #000;
}

.modal-header{
  background: #ffdc82;
  padding:15px;
  color: #000;
}

.modal-header h2{
  margin:0;
}

.modal-body img{
  height: 80%;
  width: 35%;
}

.timeSelect{
  background-color: #ffdc82;
  padding: 1em 2em;
  border:0;
}

.timeSelect:hover{
  background-color: #b38307;
}
.timeSelect:focus{
  background-color: #b38307;
  
}

.closeBtn{
  color: #000;
  float: right;
  font-size: 30px;
}

.button{
  background-color: #ffdc82;
  float:right;
  margin: -30px;
  margin-right: 10px;
  height: 10%;
  width:15%;
  padding: 1em 2em;
  border:0;
}

.button:hover{
  background-color: #b38307;
}

.closeBtn:hover, .closeBtn:focus{
  color:#fff;
  text-decoration: none;
  cursor: pointer;
}

.tab {
  overflow: hidden;
  background-color: #ffdc82;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #FFFFE0;
}

.tab button.active {
  background-color: #FFFFE0;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: #FFFFE0;
  border-top: none;
  animation: tabFade 0.25s;
}

.tab-content h2{
  background: #FFFFE0;
}

.popcornColumn{
  float: left;
  width: 10%;
  padding: 5px;
  margin-left: 10%;
  text-align: center;
  font-size: x-large;
}

.popcornRow::after{
  content:"";
  clear: both;
  display: table;
}

.addBtn{
  background-color:#ffdc82;
  border: 0;
  height: 20px;
}

.addBtn:hover{
  background-color:#9c9c5d;
}

.quantity{
  display: inline;
}

.tri-left{
  display: block;
  float:left;
  width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 30px solid #555;
	border-bottom: 15px solid transparent;
}

.tri-left:hover{
  border-right: 30px solid #000;
}

.tri-right{
  display:block;
  float: right;
  width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 30px solid #555;
	border-bottom: 15px solid transparent;
}

.tri-right:hover{
  border-left: 30px solid #000;
}

.qtyCount{
  border: black 1px solid;
  background: white;
  padding: 4px;
}

#concNext{
  float:right;
  margin-right: 2%;
}

#concBack{
  float:left;
  margin-left: 2%;
}

.concBtns{
  background-color: #ffdc82;
  border: 0;
  height: 30px;
  width: 10%;
}

.concBtns:hover{
  background-color: #9c9c5d;
}

@keyframes modalOpen{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes tabFade{
  from{opacity:0;}
  to{opacity: 1;}
}
