header{
    background: #fcfc47;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #fac575 3px solid;
  }
  
  ul{
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    margin-right: 30px;
  }
  
  header li:hover{
    background-color: #9c9c5d;
    border-bottom: black 1.5px solid;
  }
  
  header #logo{
    float: left;
    padding-left: 30px;
    font-size: 20px;
  }
  
  header #logo h1{
    margin: 0;
    color: red;
  }
  
  header nav{
    float: right;
    margin-top: 10px;
  }
  